.navbar__
  position: relative
  height: 100%
  .nav-item
    font-size: -var('body_fs')
    &:not(:last-child)
      margin-right: -var('navbar-mr')
    &.active
      color: -color('primary')
      @apply font-bold
  .nav-indicator
    position: absolute
    top: 0
    left: 0
    height: -var('navbar-nav-indicator-height')
    min-width: 40px
    transition: left -var('sidebar-animation-duration') ease-in-out
    &::before
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      width: -var('navbar-nav-indicator-width')
      max-width: 80px
      background-color: -color('primary')
      border-radius: 0
  &.indicator-at-bottom
    .nav-indicator
      top: auto
      bottom: 0
