*::-webkit-scrollbar
  width: 5px
  height: 5px
  display: block
  background: transparent

*::-webkit-scrollbar-thumb
  background: -color(text-ac, .85)
  border-radius: 20px 0 0 20px
  &:hover
    background: -color(primary, .65)

::selection
  color: -color(light)
  background: -color(primary, .45) !important

button
  cursor: pointer
  outline: none
  &:focus
    outline: none !important

input, textarea
  outline: none
  &:focus
    outline: none !important

input,textarea,button,select,a
  -webkit-tap-highlight-color: rgba(0,0,0,0)

strong
  font-weight: 600

h1, h2, h3, h4, h5, h6
  font-weight: 600
  line-height: 1.25
  color: -color(text-ac)
h1
  font-size: -var(header-fs)
h2
  font-size: -var(title-fs)
h3
  font-size: -var(sub-title-fs)

a
  &:hover
    color: -color('text-ac')

img
  -webkit-user-drag: none
  -khtml-user-drag: none
  -moz-user-drag: none
  -o-user-drag: none
  user-drag: none

[disabled]
  opacity: .6

[class*="td-"]
  box-sizing: border-box
  outline: none
  list-style: none
