@tailwind base

@import './utils/index'

@import './reset'

html, body, #app
  height: 100%
  width: 100%
  overflow: hidden !important

body
  font-family: "poppins" !important
  font-weight: normal !important
  font-style: normal !important
  font-size: -var(body-fs) !important
  color: -color('text') !important
  background-color: -color(background) !important
  margin: 0
  padding: 0

  .full
    @apply h-full w-full

  .no-select
    -webkit-user-select: none !important

  .drag
    -webkit-app-region: drag

  .no-drag
    -webkit-app-region: no-drag

  .bg_blur
    backdrop-filter: saturate(180%) blur(6px)
  .bg_blur-light
    backdrop-filter: saturate(100%) blur(2px)

  .remove-transition
    *, *:after, *:before
      transition: all 0s !important

  .center
    @apply flex items-center justify-center

  .ellipsis
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .logo
    fill: -color('text')
    &-ac
      fill: -color('text-ac')
    &-primary
      fill: -color('primary')

  @include icon()

  #app
    position: relative
    @apply flex flex-col
    .bg
      position: absolute
      top: 0
      left: 0
      z-index: -1
      opacity: .65
    #navbar, .app-content section
      padding: 0 -var(default-padding)
    #navbar
      height: 70px
      padding: 0 -var(default-padding)
      .brand
        .text
          @apply font-bold
          color: -color(text-ac)
      button.quote
        height: 40px
        background: linear-gradient(to right bottom, -color(background), -color(primary, .5), -color(background))
        border-radius: 10px
        .td-button__content
          padding: 0 10px
    .app-content
      section
        .texts
          // max-width: 45%
          padding-left: -var(default-padding)
          .with-indicator
            position: relative
            display: inline-block
            text-transform: uppercase
            &::before
              content: ''
              position: absolute
              top: 55%
              left: 110%
              height: 3px
              width: 50%
              background: linear-gradient(to right, -color(primary), -color(background))
              transform: translateY(-55%)
          .sm
            margin-bottom: 5px
          .title
            @apply font-extrabold
            font-size: -var(extra-header-fs)
          .desc
            max-width: 85%
            margin: 10px 0 30px
          button
            @apply font-semibold
            height: 45px
            .link
              margin-left: 10px
              display: block
              &, span
                @apply h-full
          .socials
            margin-bottom: 35px
            a
              &:not(:last-child)
                margin-right: 20px
              svg
                height: 24px
                width: 24px
          &.t-right
            padding-left: 0
            padding-right: -var(default-padding)
            .with-indicator::before
              content: ''
              position: absolute
              top: 55%
              left: auto
              right: 110%
              height: 3px
              width: 50%
              background: linear-gradient(to right, -color(primary), -color(background))
              transform: translateY(-55%) rotate(-180deg)

        @import './sections/hero'
        @import './sections/about'
        @import './sections/services'
        @import './sections/portfolio'
        @import './sections/contact'
      @import './sections/member'