\:root
  --td-primary: 99, 50, 246
  --td-warn: 255, 186, 0
  --td-danger: 255,71,87
  --td-success: 70,201,58
  --td-dark: 30,30,30
  --td-light: 255, 255, 255

  // social colors
  --td-facebook: 59, 89, 153
  --td-twitter: 29, 161, 242
  --td-youtube: 255, 0, 0
  --td-pinterest: 189, 8, 28
  --td-linkedin: 0, 119, 181
  --td-snapchat: 255, 252, 0
  --td-whatsapp: 37, 211, 102
  --td-tumblr: 54, 70, 93
  --td-reddit: 255, 69, 0
  --td-spotify: 30, 215, 96
  --td-amazon: 255, 153, 0
  --td-medium: 2, 184, 117
  --td-vimeo: 26, 183, 234
  --td-skype: 0, 175, 240
  --td-dribbble: 234, 76, 137
  --td-slack: 74, 21, 75
  --td-yahoo: 67, 2, 151
  --td-twitch: 100, 65, 164
  --td-discord: 114, 137, 218
  --td-telegram: 0, 136, 204
  --td-google-plus: 219, 68, 55
  --td-messenger: 0, 132, 255

  // theme
  --td-background: 244, 249, 255
  --td-background-ac: 255, 255, 255
  --td-border: 231, 233, 235
  --td-controls: 149, 170, 201
  --td-text: 149, 170, 201
  --td-text-ac: 31, 30, 46
  --td-window-control: 31, 30, 46

html.dark
  --td-background: 38, 37, 44
  --td-background-ac: 33, 32, 39
  --td-controls: 255, 255, 255
  --td-text: 255, 255, 255
  --td-text-ac: 255, 255, 255
  --td-dark: 0, 0, 0

html body[layout="auth"]
  --td-window-control: 255, 255, 255

[class*="--primary"]
  --td-color: var(--td-primary)
[class*="--default"]
  --td-color: var(--td-primary)
[class*="--danger"]
  --td-color: var(--td-danger)
[class*="--success"]
  --td-color: var(--td-success)
[class*="--dark"]
  --td-color: var(--td-dark)
[class*="--warn"]
  --td-color: var(--td-warn)
[class*="--light"]
  --td-color: var(--td-light)
