\:root
  --td-primary: 247, 175, 4
  --td-warn: 255, 186, 0
  --td-danger: 255,71,87
  --td-success: 70,201,58
  --td-dark: 30,30,30
  --td-light: 255, 255, 255

  // theme
  --td-background: 255, 249, 234
  --td-background-two: 228, 204, 199
  --td-background-third: 19, 16, 8
  --td-text: 141, 136, 122
  --td-text-ac: 19, 16, 8

html.dark
  --td-background: 255, 249, 234
  --td-background-two: 228, 204, 199
  --td-background-third: 19, 16, 8
  --td-text: 141, 136, 122
  --td-text-ac: 19, 16, 8

[class*="--primary"]
  --td-color: var(--td-primary)
[class*="--default"]
  --td-color: var(--td-primary)
[class*="--danger"]
  --td-color: var(--td-danger)
[class*="--success"]
  --td-color: var(--td-success)
[class*="--dark"]
  --td-color: var(--td-dark)
[class*="--warn"]
  --td-color: var(--td-warn)
[class*="--light"]
  --td-color: var(--td-light)
