@mixin manage_sbr_indicator($count: 10, $color: -color('primary'))
  @for $i from 0 through $count
    &:nth-child(#{$i}) ~ .sidebar--nav-indicator
      top: ($sidebar_item_height * ($i - 1 )) + ($sidebar_item_mb * ($i - 1)) !important
      transition: top -var('sidebar-animation-duration') ease-in
      &::before
        background-color: -color('primary')

@mixin icon($color: -color('text'), $size: 22px, $strokewidth: 1.5px)
  .icon
    display: flex
    align-items: center
    justify-content: center
    svg
      height: $size
      width: $size
      &, path
        stroke-width: $strokewidth
      path
        fill: transparent
        stroke: $color
    &.bulk
      svg
        path
          fill: $color
          stroke: transparent
    &.s-full
      @apply h-full w-full flex items-center justify-center
    @content

@mixin state($color)
  .vs-select__input
    // border: 2px solid -color($color,.5)
    background: -color($color,.05)
    color: -color($color,1)
    &:hover
      // border: 2px solid -color($color, 0)
      color: -color('text',1)
  .vs-select__chips
    background: -color($color,.05)
    color: -color($color,1)
    &:hover
      &:after
          opacity: 0
    &:after
      width: calc(100% - 4px)
      height: calc(100% - 4px)
      content: ''
      position: absolute
      top: 0px
      left: 0px
      border: 2px solid -color($color,.5)
      border-radius: inherit
      transition: all .25s ease
  .vs-select__label
    color: -color($color,1)
  .vs-select__icon
    color: -color($color,1)
    background: -color($color,.1)
    box-shadow: -15px 10px 10px -10px -color($color,.1)
  .vs-icon-arrow
    &:after
      background: -color($color,1)
    &:before
      background: -color($color,1)
