\:root
  --td-small-fs: 11px
  --td-body-fs: 14px
  --td-subtitle-fs: 16px
  --td-title-fs: 18px
  --td-header-fs: 24px
  --td-extra-header-fs: 45px

  --td-shadow-opacity: .05

  --td-zindex-1: 100000
  --td-zindex-2: 99000
  --td-zindex-3: 98000
  --td-zindex-4: 97000

  --td-default-padding: 3.5%

  --td-navbar-animation-duration: .3s

  --td-navbar-nav-indicator-height: 4px
  --td-navbar-nav-indicator-width: 50%
  --td-navbar-nav-indicator-radius: 0 0 30px 30px
  --td-navbar-nav-item-mr: 25px


$sidebar_item_height: 55px
$sidebar_item_mb: 8px
